[global]
    workgroup = {{ samba_workgroup }}
    realm = {{ domain_name | upper }}
    security = ADS
    wins support = no
    dns proxy = no
    os level = 0
    local master = No
    domain master = No
    template shell = /bin/bash

    disable netbios = yes
    server services = +smb
    guest account = nobody
    invalid users = root bin daemon adm sync shutdown halt mail news uucp proxy www-data backup sshd sys man list irc gnats systemd-timesync systemd-network systemd-resolve messagebus systemd-coredump avahi statd ntp sssd
    restrict anonymous = 0
    usershare allow guests = yes
    guest account = nobody

    client use spnego = yes
    client min protocol = SMB2
    client max protocol = SMB3
    client signing = auto
    dedicated keytab file = /etc/krb5.keytab
    kerberos method = secrets and keytab
    log file = /var/log/samba/smbd.log
{% if samba_admin_users is defined %}
    admin users = {{ samba_admin_users | join(',') }}
{% endif %}

{% if samba_share_home is defined %}
[homes]
    comment = Home Directories
    browsable = no
    read only = no
    create mask = 0644
    directory mask = 0755
    valid users = %S
{% endif %}

{% if samba_shares is defined %}
{% for s in samba_shares %}
[{{ s.name }}]
{% if s.comment %}
    comment = {{ s.comment }}
{% endif %}
    path = {{ s.path }}
    browsable = {{ s.browsable | default('no') }}
    read only = {{ s.read_only | default('yes') }}
    create mask = {{ s.create_mask | default('600') }}
    directory mask = {{ s.directory_mask | default('700') }}
{% if s.read_list is defined %}
    read list = {{ s.read_list }}
{% endif %}
    read only = {{ s.read_only | default('yes') }}
{% if s.write_list is defined %}
    write list = {{ s.write_list }}
{% endif %}

{% endfor %}
{% endif %}
