[sssd]
debug_level = {{ sssd_debug }}
config_file_version = 2
services = nss, pam
domains = {{ domain_name | upper }}

[nss]
debug_level = {{ sssd_debug }}
filter_users = {{ sssd_filter_users }}
filter_groups = {{ sssd_filter_groups }}
override_homedir = /home/%u

[pam]
debug_level = {{ sssd_debug }}

[domain/{{ domain_name | upper }}]
id_provider = ad
access_provider = ad

ad_domain = {{ domain_name|lower }}
ad_server = {% for server in domain_server %}{{ server }}{{- ", " if not loop.last else "" -}}{% endfor %}

ad_gpo_access_control = permissive

cache_credentials = {{ sssd_cache_cred }}

default_shell = /bin/bash
skel_dir = /etc/skel

ldap_id_mapping = {{ sssd_ldap_id_mapping }}
ldap_schema = {{ sssd_ldap_schema }}
ldap_force_upper_case_realm = true
ldap_referrals = false
ldap_account_expire_policy = ad
